/* navigation styling*/

.nav-wrapper{
    font-family: 'Delius', cursive;
}
.page-footer{
    color:#F8E71C;
    font-family: 'Delius', cursive;
}
nav .brand-logo.right{
    font-size:3em;
    color:#F8E71C;
    margin:0 20px;
}
nav ul a{
    margin: 0 30px;
    color:#F8E71C;
}
nav ul a:hover{
    background-color:#0b8eda;
}

.dropdown-content li{
    color:#F8E71C;
    background-color: #1a237e;
}
.dropdown-content li a {
    color:#F8E71C;
    background-color: #1a237e;
    margin:0;
    transition: background-color .3s;
}

.sidenav li>a{
    color:#F8E71C;
}
.sidenav-icon{
    height: 50px;
    width:50px;
    padding: 5px;
}

p{
    font-size: 1.5em;
    text-align: justify;
}
ul li{
    font-size: 1.5em;
    list-style-type: circle;
}

h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    margin: 80px 0;
    text-align: center;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family:'Montserrat', sans-serif;
}

main {
    flex: 1 0 auto;
}

.flashes h4 {
    line-height: 2;
    background-color: #0b8eda;
    width: 25%;
}

.card .card-title{
    color: #1a237e;
    font-weight:500;
}
.card-text{
    font-size:15px;
}
.card .card-image img{
    object-fit:scale-down;
}
