{% extends 'base.html' %}
{% block content %}

<h4>The City Council's Announcements</h4>

<h5> The latest news from the Council and Mayor West</h5>

{% for post in posts %}
<div class="row">
    <div class="col s12 m4">
        <div class="card small yellow lighten-5 hoverable">
            <div class="card-content">                
                <p><em>by: {{ post.created_by }}</em></p>
                <span class="card-title ">{{ post.title }}</span>                
                <p class="truncate card-text">{{ post.description }}</p>
            </div>
            <div>
                <a class="card-action" href="#">View post</a>
            </div>
            <div>
                <img src="https://img.icons8.com/ultraviolet/40/000000/pin.png" href="#">
            </div>
        </div>
    </div>
</div>
{% endfor %}       

        
   
{% endblock %}