{% extends 'base.html' %}
{% block content %}

<h4>Bulletin Boards</h4>
<div class="row">
    {% for category in categories %}
    <div class="col s12 m6 l4">
        <div class="card medium sticky-action yellow lighten-5">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="static/img/announcements.jpg" width="auto">
            </div>
            <div class="card-content">
                <span class="card-title activator">{{ category.category_name }}</span>
                <p><a class="card-action" href="{{ url_for('posts', category=['{{categories.category_name}}']) }}">View posts</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title">{{ category.category_name }}</span>
                 <p class="card-text">{{ category.category_description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}   

    <!--Link to create new category-->
    {% if session.user|lower == "admin"|lower %}
    <div class="col s12 m6 l4 card medium yellow lighten-5">
        <div class="card-content center-align">                
            <img src="https://img.icons8.com/cute-clipart/64/000000/add-property.png"/>               
        </div>
        <div>
            <a class="card-action" href="{{ url_for('create_category') }}">Create new category</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}