{% extends 'base.html' %}
{% block content %}

<h4>Bulletin Boards</h4>
<div class="row">
    <!-- Cards representing each category-->
    {% for category in categories %}

    <div class="col s12 m6 l4">
        <div class="card medium sticky-action yellow lighten-5">
            <!-- Admin given the option to edit categories-->
            {% if session.user|lower == "admin"|lower %}

            <div class="fixed-action-btn horizontal">
                <a class="btn-floating btn-small red">
                    <i class="fas fa-plus"></i>
                </a>
                <ul>
                    <li><a class="btn-floating btn-small blue"
                            href="{{ url_for('edit_category', category_id=category._id) }}"><i
                                class="fas fa-pencil-alt"></i></a></li>
                </ul>
            </div>
            {% endif %}

            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{url_for('img_uploads', filename=category['category_image']) }}"
                    width="auto" alt="category_image">
            </div>
            <div class="card-content">
                <span class="card-title activator">{{ category.category_name }}</span>
                <p><a class="card-action" href="{{ url_for('posts', category=category.category_name) }}">View
                        posts</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title">{{ category.category_name }}</span>
                <p class="card-text">{{ category.category_description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <!--Link to create new category-->
    {% if session.user|lower == "admin"|lower %}
    <div class="col s12 m6 l4 card medium yellow lighten-5">
        <div class="card-content center-align">
            <img src="https://img.icons8.com/cute-clipart/64/000000/add-property.png/" alt="create_new_category">
        </div>
        <div>
            <a class="card-action" href="{{ url_for('create_category') }}">Create new category</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}