{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2">
        <h4>{{ category }}</h4>
    </div>
</div>

<div class="row">
    <div class="col s12 left-align">
        <a id="back-button" class=" blue-text text-darken-2 #fdd835 yellow darken-1 center-align btn-small"
            href="{{ url_for('get_categories') }}"><i class="fas fa-angle-left"></i> Back </a>
    </div>
</div>
<!--Search field-->
<div class="row">
    <form action="{{ url_for('search') }}" method="post" class="col s12 search-form">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search posts by keyword</label>
            </div>
            <div class="col s12 m4">
                <button type="submit" class="blue-text text-darken-2 #fdd835 yellow darken-1 btn">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <!--Link to create new post-->
    {% if session.user %}

    <div class="col s12 m6 l4 card small yellow lighten-5 hoverable">
        <div class="card-content center-align">
            <img src="https://img.icons8.com/cute-clipart/64/000000/add-property.png/" alt="create_new_post">
        </div>
        <div>
            <a class="card-action" href="{{ url_for('create_post') }}">Create new post</a>
        </div>
    </div>
    {% endif %}
    {% for post in posts %}
    <div class="col s12 m6 l4 card small yellow lighten-5 hoverable">

        {% if session.user %}

        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-small red"><i class="fas fa-plus"></i></a>
            <ul>
                {% if session.user|lower == post.created_by|lower %}
                <li>
                    <a class="btn-floating btn-small blue" href="{{ url_for('edit_post', post_id=post._id) }}"><i
                            class="fas fa-pencil-alt"></i></a>
                </li>
                <li>
                    <a class="btn-floating btn-small red"
                        onclick="document.getElementById('id01').style.display='block'"><i
                            class="fas fa-trash-alt"></i></a>
                </li>
                {% else %}
                <li>
                    <form action="{{ url_for('save_post', post_id=post._id) }}" method="POST">
                        <button type="submit" class="save btn-floating btn-small yellow"><i
                                class="fas fa-save"></i></button>
                    </form>
                </li>
            </ul>
            <div id="id01" class="delete-modal">
                <div class="delete-modal-content white container">
                    <p>Are you sure you want to delete this post?</p>
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="btn-small blue">No</button>
                        <a href="{{ url_for('delete_post', post_id=post._id) }}"
                            onclick="document.getElementById('id01').style.display='none'" class="btn-small red">Yes,
                            delete!</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}

        <div class="card-content">
            <p><em>Created by: {{ post.created_by }}</em></p>
            <p><em>In category: {{ post.category_name }}</em></p>
            <span class="truncate card-title ">{{ post.title }}</span>
            <p class="truncate card-text">{{ post.description }}</p>
        </div>
        <div>
            <a class="card-action" href="{{ url_for('view_post', post_id=post._id) }}">View post</a>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock %}