{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <h4 class="center-align dark-blue-text text-darken-4">
            Create new post
        </h4>
    </div>
</div>

<div class="row container">
    <div class="col s12">
        <form method="POST" action="{{ url_for('create_post') }}" enctype="multipart/form-data">

            <!--category selection-->
            <div class="input-field">
                <i class="fas fa-list prefix dark-blue-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose a board for your post</option>
                        {% if session.user|lower == "admin"|lower %}
                            <option>Announcements</option>
                        {% else %}
                            {% for category in categories %}
                            <option value="{{category.category_name}}">{{category.category_name}}</option>
                            {% endfor %}
                        {% endif %}         
                </select>
                <label for="category_name">Categories</label>
            </div>

            <!-- Post title -->
            <div class="input-field">
                <input id="title" name="title" type="text" minlength="5" maxlength="50" class="validate" required>
                <label for="title">Title</label>
            </div>

            <!-- description -->
            <div class="input-field">
                <textarea id="description" name="description" type="text" class="materialize-textarea validate" minlength="5" maxlength="500"
                    required></textarea>
                <label for="description">Description</label>
            </div>
            <!--contact details-->
            <div class="input-field">
                <textarea id="contact_details" name="contact_details" type="text" class="materialize-textarea validate" minlength="5" maxlength="500"></textarea>
                <label for="contact_details">Contact details</label>
            </div>
        
            <!--image upload-->
            <div class="row img-details">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload image</span>
                        <input type="file" name="post_image" accept="image/gif, image/jpeg, image/png">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload image">
                    </div>
                </div>
            </div>
        
            <!--buttons -->
            <div class="center-align">
                <button type="submit"
                    class="btn blue-text text-darken-2 #fdd835 yellow darken-1 center-align btn #fdd835 yellow darken-1" value="Submit"> Submit
                </button>
            </div>
        </form>
    </div>
</div>
    
    
{% endblock %}