{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <h4 class="center-align dark-blue-text text-darken-4">
            Edit post
        </h4>
    </div>
</div>
<div class="row container">
    <div class="col s12">
        <form method="POST" action="{{ url_for('edit_post', post_id=post._id) }}" enctype="multipart/form-data">

            <!--category selection-->
            <div class="input-field">
                <i class="fas fa-list prefix dark-blue-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose a board to post on</option>
                    {% for category in categories %}
                        {% if category.category_name == post.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <!-- Post title -->
            <div class="input-field">
                <input id="title" name="title" type="text" minlength="5" maxlength="50" value=" {{ post.title }}"
                    class="validate" required>
                <label for="title">Title</label>
            </div>
            <!-- description -->
            <div class="input-field">
                <input id="description" name="description" class="materialize-textarea validate" minlength="5" maxlength="500" value="{{- post.description -}}" required>
                <label for="description">Description</label>
            </div>
            <!--contact details-->
            <div class="input-field">
                <input id="contact_details" name="contact_details" type="text" class="materialize-textarea validate" minlength="5" maxlength="500" value="{{- post.contact_details -}}"
                    required>
                <label for="contact_details">Contact details</label>
            </div>
            <!--image upload-->
            <div class="row img-details">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload another image</span>
                        <input type="file" name="post_image" accept="image/gif, image/jpeg, image/png">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload image">
                    </div>
                </div>
            </div>

            <!-- post image -->
            <div class="row img-details">
                <div class="col s12 l6">
                    {% if post.post_image %}
                    <img src="{{url_for('img_uploads', filename=post['post_image'])}}" alt="post_image">
                    {% endif %}
                </div>
            </div>

            <!--buttons -->
            <div class="center-align">
                <button type="submit"
                    class="btn blue-text text-darken-2 #fdd835 yellow darken-1 center-align btn #fdd835 yellow darken-1"
                    value="Submit"> Submit
                </button>
                <a id="back-button" class=" blue-text text-darken-2 #fdd835 red lighten-1 center-align btn"
                href="{{ url_for('profile', username=session['user']) }}" >Cancel</a>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}