{% extends 'base.html' %}
{% block content %}

<h4>The Community helps</h4>

<h5> Ask for or offer free help, advice, or a sercvice!</h5>

{% for post in posts %}
<div class="row">
    <div class="col s12 m4">
        <div class="card small yellow lighten-5 hoverable">
            <div class="card-content">                
                <p><em>Created by: {{ post.created_by }}</em></p>
                <span class="card-title ">{{ post.title }}</span>                
                <p class="truncate card-text">{{ post.description }}</p>
            </div>
            <div>
                <a class="card-action" href="#">View post</a>
            </div>
            <div>
                <img src="https://img.icons8.com/ultraviolet/40/000000/pin.png" href="#">
            </div>
        </div>
    </div>
    <div class="col s3">
        {% if session.user|lower == task.created_by|lower %}
            <a href="" class="btn-small green accent-4">Done</a>
            <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn-small light-blue lighten-1">Edit</a>
        {% endif %}
    </div>
</div>
{% endfor %}       

{% endblock %}

