{% extends 'base.html' %}
{% block content %}

<!-- form coming from template https://startbootstrap.com/snippets/sign-in-split/ and then modified-->
<form method="POST" action="{{url_for('login')}}">
    <div class="form-label-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="username">Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <label for="password">Password</label>
    </div>

    <button class="" type="submit">Sign in</button>
</form>

<p class="login-register text-center">No account yet? 
    <a href="{{url_for('register')}}"><br><strong>Register here!</strong></br>
    </a>
</p>

<!-- flash message to display when login details are incorrect-->
{% with messages = get_flashed_messages() %} 
    {% if messages %}
        {% for message in messages %}
            <p class="error_message">{{ message }}</p>
        {% endfor %}
    {% endif %} 
{% endwith %}

{% endblock %}