{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <h3>{{session.user}}'s page</h3>
        <h4>My posts</h4>
    </div>
</div>
<div class="row">
    <!--Link to create new post-->
    {% if session.user %}

    <div class="col s12 m6 l4 card small yellow lighten-5 hoverable">
        <div class="card-content center-align">
            <img src="https://img.icons8.com/cute-clipart/64/000000/add-property.png/" alt="create_new_post">
        </div>
        <div>
            <a class="card-action" href="{{ url_for('create_post') }}">Create new post</a>
        </div>
    </div>
    {% endif %}
    {% for post in posts %}

    {% if session.user|lower == post.created_by|lower %}

    <div class="col s12 m6 l4 card small yellow lighten-5 hoverable">
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-small red"><i class="fas fa-plus"></i></a>
            <ul>
                <li>
                    <a class="btn-floating btn-small blue" href="{{ url_for('edit_post', post_id=post._id) }}"><i
                            class="fas fa-pencil-alt"></i></a>
                </li>
                <li>
                    <a class="btn-floating btn-small blue" href="{{ url_for('delete_post', post_id=post._id) }}"><i
                            class="fas fa-trash-alt remove-btn"></i></a>
                </li>
            </ul>
        </div>

        <div class="card-content">
            <p><em>Created by: {{ post.created_by }}</em></p>
            <p><em>In category: {{ post.category_name }}</em></p>
            <span class="truncate card-title ">{{ post.title }}</span>
            <p class="truncate card-text">{{ post.description }}</p>
        </div>
        <div>
            <a class="card-action" href="{{ url_for('view_post', post_id=post._id) }}">View post</a>
        </div>
    </div>

    {% endif %}

    {% endfor %}
</div>
<div class="row">
    <div class="col s12 m8 offset-m2">
        <h4 class="center-align dark-blue-text text-darken-4">
            Favorite posts
        </h4>
    </div>
</div>

<div class="row">
    {% for fpost in fav_posts %}
    {% if session.user %}
    <div class="col s12 m6 l4 card small yellow lighten-5 hoverable">
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-small red"><i class="fas fa-plus"></i></a>
            <ul>
                <li>
                    <form action="{{ url_for('unsave_post', post_id=fpost._id) }}" method="POST">
                        <button type="submit" class="save btn-floating btn-small yellow"><i
                                class="fas fa-minus-square"></i></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="card-content">
            <p><em>Created by: {{ fpost.created_by }}</em></p>
            <p><em>In category: {{ fpost.category_name }}</em></p>
            <span class="card-title ">{{ fpost.title }}</span>
            <p class="truncate card-text">{{ fpost.description }}</p>
        </div>
        <div>
            <a class="card-action" href="{{ url_for('view_post', post_id=fpost._id) }}">View post</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}