{% extends 'base.html' %}
{% block content %}

<h4 class="center-align">Register to join the conversation!</h4>

<div class="row">
	<form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
		<div class="card-panel #fffde7 yellow lighten-5">
            <!-- First name -->
			<div class="row">
				<div class="input-field col s12">
					<input id="first_name" name="first_name" type="text" minlength="1"
                            maxlength="25" pattern="^[a-zA-Z]{1,25}$" class="validate" required>
					<label for="first_name">First Name</label>
				</div>
			</div>
            <!-- Last name -->
            <div class="row">
				<div class="input-field col s12">
					<input id="last_name" name="last_name" type="text" minlength="1"
                            maxlength="25" pattern="^[a-zA-Z]{1,25}$" class="validate" required>
					<label for="last_name">Last Name</label>
				</div>
			</div>
            <!-- House number -->
			<div class="row">
				<div class="input-field col s12">
					<input id="house_number" name="house_number" type="text" minlength="1"
                            maxlength="15" pattern="^[a-zA-Z0-9]{1,15}$" data-position="bottom" data-tooltip="Your address is required to prove residency" class="validate tooltipped" required>
					<label for="house_number">House name/number</label>
				</div>
			</div>
            <!-- Street -->
			<div class="row">
				<div class="input-field col s12">
					<input id="street" name="street" type="text" minlength="1"
                            maxlength="15" pattern="^[a-zA-Z0-9]{1,15}$" data-position="bottom" data-tooltip="Your address is required to prove residency" class="validate tooltipped" required>
					<label for="street">Street name</label>
				</div>
			</div>
			<!-- username -->
			<div class="row">
				<div class="input-field col s12">
					<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" data-position="bottom" data-tooltip="must be 5-15 characters ussing letters or numbers" class="validate tooltipped" required>
					<label for="username">Username</label>
				</div>
			</div>
			<!---password-->
			<div class="row">
				<div class="input-field col s12">
					<input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" data-position="bottom" data-tooltip="must be 5-15 characters ussing letters or numbers" class="validate tooltipped" required>
					<label for="password">Password</label>
				</div>
			</div>
            <!--submit button-->
			<div class="row">
				<button type="submit" class="col s12 btn blue-text text-darken-2 #fdd835 yellow darken-1">Register
                    </button>
			</div>
		</div>
	</form>
</div>


{% endblock %}