{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12">
        <a class="btn blue-text text-darken-2 #fdd835 yellow darken-1 center-align btn #fdd835 yellow darken-1"
            href="{{ url_for('get_categories') }}">Back</a>
    </div>
    <div class="col s12">
        <p><em>Created by: {{ post.created_by }}</em></p>
        <p>{{ post.title }}</p>
        <p>{{ post.description }}</p>
        <p>{{ post.contact_details}}</p>
    </div>
    <!-- post image -->
    <div class="row img-details">
        <div class="col s12 l6">
            {% if post.post_image %}
            <img src="{{url_for('img_uploads', filename=post['post_image'])}}" alt="post_image" id="myImg">
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
            </div>
            {% endif %}
        </div>
    </div>

    
{% endblock %}